.dashboard_chart_row1 {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.dashboard_chart_row2 {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.dashboardHeader {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.pdfReportButton {
    display: block;
    box-shadow: 0 2px 6px rgba(var(--primary-rgb), 0.3);
    background-color: rgb(var(--primary-rgb));
    color: var(--primary-text-color);
    border-radius: var(--button-radius);
    outline: none;
    padding: 0.5rem;
}
