.content {
    text-align: center;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 2.5rem;
    color: #343a40;
    margin-bottom: 1rem;
}

.message {
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 2rem;
}
.button {
    margin-left: auto;
}
