.container {
    border-bottom: 1px solid rgb(var(--text-theme), 0.12);
    padding: 1.3rem;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container > div {
    display: flex;
    align-content: center;
    gap: 1rem;
    margin-bottom: -0.25rem;
}
.container > div:nth-child(2) {
    width: calc(80% - 7rem);
    justify-content: end;
}
.container > div:nth-child(2) > form:first-of-type {
    width: 50%;
    margin-right: 0.4rem;
}
.container > div:nth-child(2) > form > div {
    justify-content: end;
}
.container > div:nth-child(2) > form > div > div {
    padding-right: 0.2rem !important;
    margin-left: auto;
}
.export {
    background-color: #eaebed !important;
    color: rgba(128, 131, 144, 1) !important;
    padding-inline: 0.95rem !important;
    padding-block: 0.55rem !important;
}
/* .container input {
    padding-block: 0.7rem !important;
} */

@media (max-width: 600px) {
    .container > div {
        display: block;
    }
    .container > div:nth-child(2) > form {
        width: 100% !important;
    }
    .container > div:nth-child(2) > div {
        margin-bottom: 1rem;
    }
    .container > div:nth-child(1) > div {
        width: fit-content;
    }
}
