
.pgn_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}


.pgn_svg {
  width: 500px; 
  position: absolute;
  top: 10%;
  left: 50%; 
  flex-shrink: 0;
  z-index: 1;
}


.pgn_box {
  position: relative ;
  z-index: 10;

}


.pgn_title {
  font-size: 80px;
  font-weight: bold;
}

.pgn_subtitle {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
}

.pgn_text {
  font-size: 16px;
  color: #555;
  max-width: 400px;
  margin: auto;
}

.pgn_button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #ff6449;
  color: rgb(18, 17, 17);
  font-size: 18px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

.page_wrapper {
  background-color: rgba(242, 242, 240, 1);
}

