.container {
    display: flex;
    gap: 1rem;
    overflow: auto;
    padding: 0.5rem;
}
.container > div {
    min-width: 350px;
}
.kanban_column {
    width: 100%;
    /* box-shadow: inset 0 -1px 4px rgba(0, 0, 0, 0.1); */
    padding: 10px;
    height: 100%;
    position: relative;
    border: 1px solid #eaedf0;
    border-top: 0;
}
.column_body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
    border: 1px solid #eaedf0;
    border-top: none;
    padding: 0.5rem;
    min-height: 20rem;
    border-radius: 0.2rem;
}
.column_header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: white;
    border: 1px solid #eaedf0;
    padding: 1rem;
    border-radius: 0.375rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
