.container tr {
    border-bottom: 1px solid rgba(var(--text-theme), 0.12);
    border-bottom: 1px solid rgb(var(--text-theme), 0.12);
    text-align: left;
}
.checkbox_cell {
    padding-left: 1rem;
}
.container tr .header_cell > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1.5rem;
    gap: 1rem;
    padding-block: 1.2rem;
    cursor: pointer;
}
.container tr .header_cell > div:hover span {
    visibility: visible;
}
.container tr .header_cell {
    color: rgba(var(--text-theme), 0.9);
    color: rgba(var(--text-theme), 0.9);
    font-size: 0.8125rem;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    font-weight: 500;
}
.container tr .header_cell > div span svg {
    width: 20px;
    height: 20px;
}
.down_arrow {
    transform: rotate(180deg);
}
.initial_arrow {
    visibility: hidden;
    color: rgb(168, 166, 166);
}
.container tr th {
    padding-left: 1rem;
}
