/* Modal Overlay */
.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 1050;
    background-color: rgba(66, 66, 66, 0.5);
    padding-inline: 0 !important;
    align-items: center;
    justify-content: center;
}
.modal_position_right {
    justify-content: flex-end;
}
.modal_position_left {
    justify-content: flex-start;
}
.modal_position_top {
    margin-top: 1rem;
    justify-content: center;
}
.modal_position_bottom {
    justify-content: center;
    align-items: end;
}
.modal_position_center {
    justify-content: center;
    /* align-items: center; */
}
/* Slide-in Animation */
@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromCenter {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Modal Content */
.modal_content {
    background: var(--whiteBackground);
    /* box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); */
    box-shadow: 0 4px 18px rgba(47, 43, 61, 0.16), 0 0 transparent, 0 0 transparent;
    width: 90%;
    z-index: 1051;
    position: relative;
    margin: 0;
    max-height: auto;
    /* Apply the slide-in animation */
}
.modal_content::-webkit-scrollbar {
    display: none;
}
.modal_position_right .modal-content {
    height: 100%;
    animation: slideInFromRight 0.3s ease-out;
}
.modal_position_left .modal-content {
    height: 100%;
    animation: slideInFromLeft 0.3s ease-out;
}
.modal_position_top .modal_content,
.modal_position_bottom .modal_content,
.modal_position_center .modal_content {
    height: fit-content;
    border-radius: 0.2rem;
}
.modal_position_top .modal_content {
    animation: slideInFromTop 0.3s ease-out;
}
.modal_position_bottom .modal_content {
    animation: slideInFromBottom 0.3s ease-out;
}
.modal_position_center .modal_content {
    animation: slideInFromCenter 0.3s ease-out;
}

/* Modal Header */
.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* border-bottom: 1px solid rgb(var(--text-theme), 0.12); */
    border-bottom: 1px solid var(--border-color);
    font-size: 1.2rem;
}

.modal_title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 540;
    font-size: 1rem;
    line-height: 1.3;
    color: var(--text-color);
}

.modal_title svg {
    width: 27px;
    height: 27px;
}

.modal-title > span {
    display: flex;
    gap: 0.3rem;
}

/* Modal Body */
.modal_body {
    padding: 1rem;
    overflow: auto;
    max-height: calc(95vh - 5rem);
}
/* Modal Body */
.modal_body {
    position: relative;
    padding: 1rem;
    background-color: var(--backgroundColor);
    /* padding-bottom: 0px; */
}

/* Modal Footer */
.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
}

.modal_close_icon {
    cursor: pointer;
}

.modal_description {
    font-size: 13px;
    color: var(--disabled-text-color);
    font-weight: normal;
}

@media screen and (max-width: 768px) {
}
