.breadcrumbContainer h2 {
    font-weight: 400;
    padding-bottom: 0.4rem;
    font-size: 16px;
    text-align: left;
}

.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--disabled-text-color);
    font-size: 12px;
}

.item {
    margin-right: 8px;
}

.item::after {
    content: "/";
    margin-left: 8px;
    color: var(--disabled-text-color);
}

.item:last-child::after {
    content: "";
}

.link {
    text-decoration: none;
    color: rgb(var(--theme-primary));
    transition: color 0.3s;
}

.active {
    color: #909092c9;
    font-weight: normal;
}
