.container {
    padding: 1.4rem;
    padding-bottom: 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    border-bottom: 1px solid rgb(var(--text-theme), 0.12);
    position: relative;
}
.container .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}
.container .heading h2 {
    font-size: 1.125rem;
    color: rgb(var(--text-theme), 0.9);
    font-weight: 500;
}
.container .heading .filters_icon {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: rgba(var(--text-theme), 0.7);
    transition: color 0.2s ease;
    padding: 0.6rem;
    border-radius: 2rem;
    display: none;
    cursor: pointer;
}
.container .heading .filters_icon svg {
    width: 22px;
    height: 22px;
}
.container .heading .filters_icon:hover {
    background-color: rgba(226, 224, 224, 0.4);
}
@media (max-width: 768px) {
    .container .heading .filters_icon {
        display: flex;
    }
    .body {
        display: none;
    }

    .body.show {
        display: block;
    }
}
