.statsCardsContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
}
@media (max-width: 1250px) {
    .statsCardsContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 600px) {
    .statsCardsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
