.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    font-size: 1.2rem;
    font-weight: 550;
}
