.container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
}
.container > img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
}
.container * {
    margin: 0;
    padding: 0;
}
.container > div {
    display: flex;
    flex-direction: column;
}
.container > div h3 {
    font-size: 0.9375rem;
    line-height: 1.375rem;
    color: rgba(47, 43, 61, 0.9);
    font-weight: 600;
}
.container > div h3:hover {
    color: rgb(115, 103, 240, 1);
}
.container > div p {
    font-size: 0.8125rem;
    line-height: 1.25rem;
    font-weight: 350;
    text-transform: lowercase;
}
.image_pop_up {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.image_pop_up img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0;
    border: 5px solid #ff8e06;
}
.image_pop_up > div {
    position: relative;
}
.image_pop_up button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
    position: absolute;
    right: -1rem;
}
