.popupContainer {
    padding-block: 2rem;
}
.imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageWrapper img {
    width: 10rem;
    height: 10rem;
}

.popupContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.6;
    margin-block: 0.5rem;
}
.popupContent h5 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.popupContent p {
    font-size: 0.86rem;
    color: var(--disabled-text-color);
}

.optionsList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-block: 2rem;
}

@media (max-width: 600px) {
    .optionsList {
        flex-direction: column;
        align-items: normal;
    }
}
