.container {
    background-color: rgb(60 189 53 / 84%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0.2rem;
    margin: 0;
}
