.container {
    background-color: var(--whiteBackground);
    border-radius: 0.5rem;
    padding: 1rem;
    padding-top: 1rem;
    padding-top: 0.6rem;
    border: 1px solid var(--border-color);
}
.grid-1 {
    flex: 1 1 100%;
}

.grid-2 {
    flex: 1 1 calc(50% - 1rem);
}

.grid-3 {
    flex: 1 1 calc(33.333% - 1rem);
}

@media (max-width: 768px) {
    .grid-2,
    .grid-3 {
        flex: 1 1 100%;
    }
}
